    <% @specialities.each do |speciality| %>
      <tr>
        <td><%= link_to speciality.id, speciality_path(speciality) %></td>
        <td><%= speciality.name %></td>
        <td><%= formatDate(speciality.created_at, false) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_speciality_path(speciality), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      speciality_path(speciality),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>